@model IEnumerable<UserIdentity.Models.BasvuruModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/AdminLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home/Index">Ana Sayfa</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Başvurular</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="RoleAdmin/Create">Rol Ekle</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="Administrator/roleadmin">Roller</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Account/Logout"><span class="glyphicon glyphicon-off"></span>Çıkış Yap</a></li>
            </ul>
        </div>
    </nav>
    <p>
        @Html.ActionLink("Başvuru Ekle", "Create")
    </p>
    <table class="table table-bordered table-hover table-striped">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Isim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoyIsim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjeAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SehirSec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Onay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Isim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoyIsim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjeAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SehirSec)
                </td>
                <td>
                    @if (item.Onay)
                    {
                        <label class="label label-success">Onaylandı</label>
                    }
                    else
                    {
                        <label class="label label-danger">Onay Bekliyor</label>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateTime)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" }) |
                    @Html.ActionLink("Detay", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" }) |
                    @Html.ActionLink("Başvuru Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }

    </table>
</body>
</html>
